body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #2d394b;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.active{
    background-color: green;
}
.navbar a {
    float: left;
    padding: 15px 20px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:nth-child(4){
    float: right;
    background-color: hotpink;
}

.navbar a:hover{
    background-color: rgb(24, 22, 22);
    position: relative;
}

/* Contact Us form style */
form{
    margin-top: 80px;
    margin-bottom: 105px;
}
h1{
    text-align: center;
}
input[type=text],select{
width: 500px;
padding: 15px;
margin: 5px 25px 22px 25px;
display: inline-block;
border: none;
background: #f1f1f1;
font-size: 16px;
color: darkblack;
}


input[type=text]:focus{
background-color: #ddd;
outline: none;
}

select{
    width: 529px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
}
select:focus{
    background-color: #ddd;
    outline: none;
    }

label{
    margin-left: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}

.sendbtn {
float: center;
width: 50%;
font-size: 18px;
}


.container {
padding: 16px;
align-items: center;
}

/* Modal Content/Box */
.modal-content {
margin: 70px 0px 30px 800px;
background-color: #fefefe;
border: 1px solid #888;
width: 40%; 
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}