body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.check{
    border: #1C4CBD;
    background: #ff0000;
}
nav{
    background-color: #2d394b;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.active{
    background-color: green;
}
.navbar a {
    float: left;
    padding: 15px 20px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:nth-child(4){
    float: right;
    background-color: hotpink;
}

.navbar a:hover{
    background-color: rgb(24, 22, 22);
    position: relative;
}

footer{
    bottom: 0;
    position: relative;
    background-color: #2d394b;
    height: 245px;
    width: 100%;
}

/* p{
    display: inline-block;
    width: 25%;
    margin-left: 75px;
    align-items: center;
    
}*/

#para1{
    top: 0px;
    text-justify: auto;
}
#para2{
    top: 0px;
    text-justify: auto; 
}

#loc{
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#b1{
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    top: 0px;
}

#para1{
    text-justify: auto;
    color: whitesmoke;
    word-spacing: 1px;
}
#para2i{
    text-justify: auto;
    color: whitesmoke;
    word-spacing: 1px;
}
.row{
    margin: 10px 10px 0px 10px;
    /* border: 2px solid white; */
}
.column{
    padding-top: 10px;
    padding-left: 50px;
    width: 30%;
    display: inline-block;
    align-items: center;
    margin: 0px 0px 0px 25px;
    /* border: 2px solid red; */
}
.column1{
    top: 0px;
    padding-top: 20px;
    padding-left: 600px;
    width: 30%;
    display: inline-block;
    align-items: center;
    margin: 0px 0px 0px 0px;
    /* border: 2px solid red; */
}

.social{
    text-align: center;
    margin-top: 20px;
}
#QL{
    font-size: 18px;
    color: whitesmoke;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: yellow;
}
.social_a{
    font-size: 25px;
    width:36px;
    height:36px;
    line-height:36px;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    display:inline-block;
    text-align:center;
    margin:5px 10px;
    color:#fff;
    opacity:0.75;
}
.social_a:hover{
    opacity: 0.9;
}
.copyright {
    text-align:center;
    opacity:0.7;
    font-size:15px;
    top: 5px;
    bottom: 0px;
    margin:8px 0px 0px 0px;
    padding-bottom: 8px;
  }

/*Login Box Style*/
.loginbox{
	width: 320px;
	height: 380px;
	background: transparent;
    background-color: rgba(41, 40, 40, 0.603);
	color: #fff;
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
    border-radius: 5px;
}

.avtar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 118px;
}

.text1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	/*margin-top: 70px;*/
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 20px;
	color: #fff;
	font-size: 16px;
}
::placeholder{
    color: rgb(198, 201, 201);
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: grey;
}

.loginbox a:hover{
	color: yellow;
}

.qm{
	color:#fff;
    background-color: yellow;
    width:12px;
    height:16px;
    display:inline-block;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}

.loginbox #error1{
    height: 24px;
    width: 100%;
    text-align: center;
    padding-top: 6px;
}